:root {
    --cor-fundo: #ebecee;

    --branco-principal: #ffffff;
    --preto: #000000;

    --laranja-titulo: #eb9b00;
    --vermelho: #D94937;
    --cinza-principal: #858585;
    --cinza-secundario: #474646;
    --azul-principal: #002f52;
    --azul-secundario: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    
    --poppins: 'Poppins', sans-serif;
    --josefin: 'Josefin Sans', sans-serif;

    --peso-extra-baixo: 300;
    --peso-baixo: 400;
    --peso-medio: 500;
    --peso-alto: 700;
}
