.banner {
    background: var(--azul-secundario);
    color: var(--branco-principal);
    line-height: 1.5rem;
    text-align: center;
    padding: 2.5rem 2rem;
}

.banner__titulo {
    font-size: 1.125rem;
    font-weight: var(--peso-alto);
}

.banner__texto {
    font-weight: var(--peso-medio);
    margin: 1rem 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
    border-radius: 1.5rem;
    color: var(--branco-principal);
    padding: 1rem;
    width: 100%;
}

.banner__pesquisa::placeholder {
    background: url(../../../grafic/icon-svg/Pesquisa.svg) no-repeat;
    color: var(--branco-principal);
    font-family: var(--poppins);
    font-weight: var(--peso-baixo);
    font-size: .875rem;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 2.25rem;
        line-height: 54px;
    }

    .banner__texto {
        line-height: 24px;
    }

    .banner__pesquisa {
        width: 50%;
    }
    
    .banner__pesquisa::placeholder {
        background-position: 5rem;
    }
}

@media screen and (min-width: 1728px) {
    .banner {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .banner__pesquisa {
        width: 30%;
    }
}
