@import url(./reset/_reset.css);
@import url(./base/_variaveis.css);

/* Componentes */
@import url(./components/cabecalho.css);
@import url(./components/banner.css);

body {
    background-color: var(--cor-fundo);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: var(--peso-baixo);
}

.container__flex {
    display: flex;
    align-items: center;
}
