@import url(./reset/_reset.css);
@import url(./base/_variaveis.css);
/* Sessões da Pagina - Import's */
@import url(./components/cabecalho.css);
@import url(./components/banner.css);
@import url(./components/carrossel.css);
@import url(./components/card.css);
@import url(./components/topico.css);

body {
    background-color: var(--cor-fundo);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: var(--peso-baixo);
}

.container__flex {
    display: flex;
    align-items: center;
}
