.carrossel__titulo {
    background: var(--branco-principal);
    color: var(--laranja-titulo);
    font-size: 1.125rem;
    font-weight: var(--peso-alto);
    line-height: 27px;
    padding: 1rem 0 .5rem 0;
    text-align: center;
    text-transform: uppercase;
}

.swiper-pagination {
    position: initial;
    margin: .5rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 1.625rem;
        line-height: 39px;
    }

    .swiper-pagination {
        margin: 2rem 0 3rem 0;
    }

    .swiper {
        width: 65%;
        text-align: center;
    }

    /* .circleSwiper {
        background: var(--azul-secundario);
        border-radius: 50%;
        width: 60px;
        height: 60px;
    } */

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
    }

    .swiper {
        width: 35%;
    }
}
